/* Futura PT 700 */
@font-face {
    font-family: "Futura PT";
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/FuturaPTBold.woff");
  }
  @font-face {
    font-family: "Futura PT";
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/FuturaPTBold.woff2");
  }
  /* Futura PT 400 */
  @font-face {
    font-family: "Futura PT";
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/FuturaPTBook.woff");
  }
  @font-face {
    font-family: "Futura PT";
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/FuturaPTBook.woff2");
  }
  /* Futura PT 300 */
  @font-face {
    font-family: "Futura PT";
    font-weight: 300;
    font-display: swap;
    src: url("../fonts/FuturaPTLight.woff");
  }
  @font-face {
    font-family: "Futura PT";
    font-weight: 300;
    font-display: swap;
    src: url("../fonts/FuturaPTLight.woff2");
  }
  /* Futura PT 500 */
  @font-face {
    font-family: "Futura PT";
    font-weight: 500;
    font-display: swap;
    src: url("../fonts/FuturaPTMedium.woff");
  }
  @font-face {
    font-family: "Futura PT";
    font-weight: 500;
    font-display: swap;
    src: url("../fonts/FuturaPTMedium.woff2");
  }