* {
    box-sizing: border-box;
}
html {
  height: 100%;
}
img {
  display: block;
  height: auto;
}
body {
  height: 100%;
  margin: 0;
  background-image: url("./../images/bg.png");
  background-color: #f9f9f9;
}
main {
  flex-grow: 1;
}